<!-- SLIDER START
            ============================================= -->
<section id="slider" class="home-slider clearfix">
    <div class="slider-wrapper">
        <div class="flexslider clearfix">
            <ul class="slides">
                <li class="slide-item clearfix" style="background-image: url({{ 'assets/img/slider/slide1.jpg'|theme }});">
                    <div class="flex-content">
                        <div class="container">
                            <div class="row">
                                <div class="caption-wrap">
                                    <div class="caption wow fadeInUp" data-wow-delay="1s">
                                        <h1>Passengers Transport</h1>
                                    </div>
                                    <div class="caption wow fadeIn" data-wow-delay="2s">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                    </div>
                                    <div class="caption wow fadeInUp" data-wow-delay="2.5s">
                                        <a href="#" class="button-normal">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="slide-item clearfix" style="background-image: url({{'assets/img/slider/slide2.jpg'|theme}});">
                    <div class="flex-content">
                        <div class="container">
                            <div class="row">
                                <div class="caption-wrap">
                                    <div class="caption wow fadeInUp" data-wow-delay="3s">
                                        <h1>We Deliver Your Goods Fast</h1>
                                    </div>
                                    <div class="caption wow fadeIn" data-wow-delay="4s">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                    </div>
                                    <div class="caption wow fadeInUp" data-wow-delay="4.5s">
                                        <a href="#" class="button-normal">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- SLIDER END -->